{% extends "dashboard/base.html" %}

{% block javascript %}
<script>
    $(function () {
        var $populationChart = $("#population-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {
    
                var ctx = $populationChart[0].getContext("2d");
                var my_data = "{{ monitoring_data }}"
    
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: "{{ timestamp }}}",
                        datasets: [
                        {
                            label: 'max_fever',
                            borderColor: 'red',
                            data: data.measure_fever_max
                        },
                        {
                            label: 'measurement',
                            borderColor: 'black',
                            data: data.measure_fever_min
                        },
                        {
                            label: 'min_fever',
                            borderColor: 'green',
                            data: data.measure_fever_min
                        },
                        {
                            label: 'threshold',
                            borderColor: 'yellow',
                            data: data.threshold
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: false,
                            text: 'Fever'
                        }
                    }
                });
            }
        });
    });
    </script>
<script>

//DUMMY DATA TO BE REPLACED WITH AJAX CALL
var home_location =  [23.953606, 120.4095702];

var places = [
  { lat: '23.953606',
    long: '121.4095702',
  },
  { lat: '23.953606',
    long: '120.4095702',
  },
  { lat: '23.02168',
    long: '120.224569',
  }
];

var mymap = L.map('mapid').setView(home_location, 13);
var home_marker = L.marker(home_location).addTo(mymap);
home_marker.bindPopup("Home Location").openPopup();

for(var i = 0; i < places.length; i++) {
    L.marker([places[i].lat, places[i].long]).addTo(mymap);
}

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
}).addTo(mymap);

var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);
}

mymap.on('click', onMapClick);  

</script>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#section1">Visualisation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#section2">Data</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#section3">Photos</a>
        </li>
    </ul>
</nav>
    <div id="section1" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1>Vizualisation</h1>
        <div class="row">
            <div class="col-sm-6 bg-light">
                <canvas id="population-chart" data-url="{% url 'population-chart' %}"></canvas>
            </div>
            <div class="col-sm-4 bg-light"><div id="mapid"></div></div>
        </div>
    </div>
    <!-- This Section is for the Data Table, it should be more or less fine -->
    <div id="section2" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1>Data Row</h1>
        <div class="row">
            <div class="table-responsive">
            <table id="monitoring_table" align="center" style="width:100%" class="table table-hover">
              <tr>
                <th>Timestamp:</th>
                  {% for x in timestamp %}
                    <td>{{ x }}</td>
                  {% endfor %}
              </tr>
              <tr>
                <th>Body Temperature C(max):</th>
                  {% for temperature in body_temperature %}
                    <td>{{ temperature }}</td>
                  {% endfor %}
              </tr>
              <tr>
                <th>Body Temperature C(min):</th>
                {% for temperature in body_temperature %}
                    <td>{{ temperature }}</td>
                  {% endfor %}
              </tr>
                <tr>
                <th>Coughing:</th>
                {% for symptom in coughing %}
                    <td>{{ symptom }}</td>
                {% endfor %}
              </tr>
                <tr>
                <th>Running Nose:</th>
                {% for symptom in running_nose %}
                    <td>{{ symptom }}</td>
                {% endfor %}
              </tr>
            </table>
            </div>
        </div>
    </div>
    <!-- This section needs some revision on the creation of cards, I haven't figured yet how to do nested information
        e.g. each observation has a data, hour, an image hash for retrieval on IPFS, and a location indication propably need to create a nestef for loop or something:
          https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#if -->

    <div id="section3" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1>Pictures Row</h1>
        <div class="row">
            {% for datetime in timestamps %}
                <div class="card" style="width:400px">
                    <div class="card-header">{{ datetime }}</div>
                    <img class="card-img-top" src="https://gateway.pinata.cloud/ipfs/{{ image_cid }}" alt="Card image" style="width:100%"> <!-- create URL -->
                    <div class="card-body">
                        <p class="card-text">Date: {{ datetime }}</p> <!-- create formating -->
                        <p class="card-text">Time: {{ datetime }}</p> <!-- create formating -->
                        <p class="card-text">Home: {{ stay_home }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
