{% extends "dashboard/base.html" %}
{% block javascript %}
    <script>
    $(function () {
        var $populationChart = $("#population-chart");
        $.ajax({
            url: $populationChart.data("url"),
            success: function (data) {

                var ctx = $populationChart[0].getContext("2d");

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [
                        {
                            label: 'max_fever',
                            borderColor: 'red',
                            data: data.measure_fever_max
                        },
                        {
                            label: 'min_fever',
                            borderColor: 'green',
                            data: data.measure_fever_min
                        },
                        {
                            label: 'threshold',
                            borderColor: 'yellow',
                            data: data.threshold
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: false,
                            text: 'Fever'
                        }
                    }
                });
            }
        });
    });
    </script>

{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#section1">Visualisation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#section2">Data</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#section3">Photos</a>
        </li>
    </ul>
</nav>
    <div id="section1" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1>Vizualisation</h1>
        <div class="row">
            <div class="col-sm-6 bg-light">
                <canvas id="population-chart" data-url="{% url 'population-chart' %}"></canvas>
            </div>
            <div class="col-sm-4 bg-warning"><iframe src="https://www.openstreetmap.org/export/embed.html" style="height:100%;width:100%;"></iframe></div>
        </div>
    </div>
    <div id="section2" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1>Data Row</h1>
        <div class="row">
            <div class="table-responsive">
            <table id="monitoring_table" align="center" style="width:100%" class="table table-hover">
              <tr>
                <th>Timestamp:</th>
                  {% for datetime in timestamps %}
                    <td>{{ datetime }}</td>
                  {% endfor %}
              </tr>
              <tr>
                <th>Body Temperature C(max):</th>
                  {% for data_point in measurement %}
                    <td>{{ data_point.body_temperature }}</td>
                  {% endfor %}
              </tr>
              <tr>
                <th>Body Temperature C(min):</th>
                {% for data_point in measurement %}
                    <td>{{ data_point.body_temperature }}</td>
                  {% endfor %}
              </tr>
                <tr>
                <th>Coughing:</th>
                {% for data_point in measurement %}
                    <td>{{ data_point.coughing }}</td>
                  {% endfor %}
              </tr>
                <tr>
                <th>Running Nose:</th>
                {% for data_point in measurement %}
                    <td>{{ data_point.running_nose }}</td>
                  {% endfor %}
              </tr>
            </table>
            </div>
        </div>
    </div>
    <div id="section3" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1>Pictures Row</h1>
        <div class="row">
            {% for data_point in measurement %}
                <div class="card" style="width:400px">
                    <div class="card-header">{{ data_point.timestamp }}</div>
                    <img class="card-img-top" src="https://gateway.pinata.cloud/ipfs/QmWLsWkcpeYBFJtvzGrdp9KH8LjZM4z5oATDqRAu13hNnF" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <p class="card-text">Date: {{ data_point.timestamp }}</p>
                        <p class="card-text">Time: {{ data_point.timestamp }}</p>
                        <p class="card-text">Home: {{ data_point.stay_home }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
