<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Template</title>
</head>
<body>
<section class="body">
    <div class="row"><h1>Graph and Map Row</h1>
        <div class="col-md-6">
            <section class="panel">
                Graph goes here
            </section>
        </div>
        <div class="col-md-6">
            <section class="panel">
                Map goes here
            </section>
        </div>
    </div>
    <div class="row"><h1>Data Row</h1>
        <table id="monitoring_table" align="center" style="width:100%">
          <tr>
            <th>Date:</th>
              {% for data_point in measurement %}
                <td>{{ data_point.date }}</td>
              {% endfor %}
          </tr>
          <tr>
            <th>Body Temperature C(max):</th>
              {% for data_point in measurement %}
                <td>{{ data_point.body_temp_max }}</td>
              {% endfor %}
          </tr>
          <tr>
            <th>Body Temperature C(min):</th>
            {% for data_point in measurement %}
                <td>{{ data_point.body_temp_min }}</td>
              {% endfor %}
          </tr>
            <tr>
            <th>Coughing:</th>
            {% for data_point in measurement %}
                <td>{{ data_point.coughing }}</td>
              {% endfor %}
          </tr>
            <tr>
            <th>Running Nose:</th>
            {% for data_point in measurement %}
                <td>{{ data_point.running_nose }}</td>
              {% endfor %}
          </tr>
        </table>
    </div>
    <div class="row"><h1>Pictures Row</h1></div>
</section>
</body>
</html>