{% extends "dashboard/base.html" %}


{% block content %}
<style>
    table,th,td {
        border : 1px solid black;
        border-collapse: collapse;
    }
    th,td {
        padding: 5px;
    }
</style>
<body>

<h2>The XMLHttpRequest Object</h2>

<form action="">
    <select name="customers" onchange="showCustomer(this.value)">
        <option value="">Select a customer:</option>
        <option value="ALFKI">Alfreds Futterkiste</option>
        <option value="NORTS ">North/South</option>
        <option value="WOLZA">Wolski Zajazd</option>
    </select>
</form>
<br>
<div id="txtHint">Customer info will be listed here...</div>
{% endblock content %}



