{% extends "dashboard/base.html" %}
{% block javascript %}
<script>

$(function () {
  var $lineChart = $("#line-chart");
  $.ajax({
    url: $lineChart.data("url"),
    success: function (data) {

      var ctx = $lineChart[0].getContext("2d");

      new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.labels,
          datasets: [{
            label: 'Measurement',
            data: data.body_temperature,
            borderColor: 'rgba(197, 198, 182, 1)',
            fill: false,
          },
          {
            label: 'MAX',
            data: data.body_temperature_MAX,
            borderColor: 'rgba(216, 17, 69, 1)',
            fill: false,
          },
          {
            label: 'MIN',
            data: data.body_temperature_MIN,
            borderColor: 'rgba(216, 17, 69, 1)',
            fill: false,
          },
          {
            label: 'CRITICAL',
            data: data.body_temperature_CRITICAL,
            borderColor: 'rgba(255, 188, 66, 1)',
            fill: false,
          }]          
        },
        options: {
          responsive: true,
         
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Body Temperature records'
          },
          scales: {
              yAxes: [{
                  ticks: {
                    min: 33,
                    max: 43
                  }
                }]
            }
        }
      });

    }
  });

});
</script>
<script>
    const home_location = [24.953606,121,4095702]
    const mymap = L.map('mapid').setView(home_location, 13);

    const marker = L.marker(home_location).addTo(mymap);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);
</script>
{% endblock %}
{% block content %}
<div id="section1" class="uk-section uk-section-large uk-section-muted" style="padding-top:70px;padding-bottom:70px">
    <h1 class="uk-background-primary">Chart and Map</h1>
    <div class="uk-grid">
        <div class="uk-width-3-10 uk-background-muted">
            <div id="mapid"></div>
        </div>
        <div class="uk-width-7-10 uk-background-muted">
            <canvas id="line-chart" data-url="{% url 'line-chart' %}"></canvas>
        </div>
    </div>
</div>
<hr class="uk-divider-icon">
<!-- This Section is for the Data Table, it should be more or less fine -->
<div id="section2" class="uk-section uk-section-large uk-section-muted" style="padding-top:70px;padding-bottom:70px">
    <h1 class="uk-background-primary">Records</h1>
    <div class="row">
        <div class="table-responsive">
        <table id="monitoring_table" align="center" style="width:100%" class="table table-hover">
            <tr>
                <th class="uk-background-primary">ID:</th>
                {% for object in records %}
                    <td  class="uk-background-primary">{{ object.identity }}</td>
                {% endfor %}
            </tr>
            <tr>
            <th>Date:</th>
            {% for object in records %}
                <td>{{ object.timestamp }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Body Temperature C(max):</th>
            {% for object in records %}
                <td>{{ object.bodyTemperature }} {{ object.bodyTemperatureUnit }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Body Temperature C(min):</th>
            {% for object in records %}
                <td>{{ object.bodyTemperature }} {{ object.bodyTemperatureUnit }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Coughing:</th>
            {% for object in records %}
                <td>{{ object.coughing }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Running Nose:</th>
            {% for object in records %}
                <td>{{ object.runnyNose }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Headache:</th>
            {% for object in records %}
                <td>{{ object.headache }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Sore Throat:</th>
            {% for object in records %}
                <td>{{ object.soreThroat }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Loss of taste:</th>
            {% for object in records %}
                <td>{{ object.tasteLoss }}</td>
            {% endfor %}
            </tr>
        </table>
        </div>
    </div>
</div>
<!-- This section needs some revision on the creation of cards, I haven't figured yet how to do nested information
    e.g. each observation has a data, hour, an image hash for retrieval on IPFS, and a location indication propably need to create a nestef for loop or something:
        https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#if -->
<hr class="uk-divider-icon">
<div id="section3" class="uk-section uk-section-large uk-section-muted" style="padding-top:70px;padding-bottom:70px">
    <h1 class="uk-background-primary">Photocards</h1>
    <div class="uk-flex">
        {% for object in records %}
            <div class="uk-card uk-card-hover" style="width:400px">
                <div class="uk-card-header">{{ object.id }}</div>
                <img class="uk-card-media-top" src="{{ object.image.url }}" style="width:100%">
                <div class="uk-card-body">
                    <p>Date: {{ object.timestamp|date:'Y-m-d' }}</p> <!-- create formating -->
                    <p>Time: {{ object.timestamp|date:'H:i' }}</p> <!-- create formating -->
                    <p>Location: {{ object.latitude }}, {{ object.longitude }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
