{% extends "dashboard/base.html" %}
{% block javascript %}
<script>
  var $lineChart = $("#line-chart");
  $.ajax({
    method: "GET",
    url: $lineChart.data("url"),
    success: function(data){
      var ctx = document.getElementById("line-chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: data.labels,
              datasets: [{
                  label: 'Records',
                  data: data.record,
                  borderColor: [
                      'rgba(255,99,132,1)',
                  ],
                  borderWidth: 2
              },
              {
                label: 'CRITICAL',
                data: data.threshold,
                borderColor: 'rgba(255, 188, 66, 1)',
                fill: false,
          }]
          },
          options: {
              reponsive: true,
              scales: {
                  yAxes: [{
                      ticks: {
                          min:35,
                          max:43
                     }
                  }]
              }
          }
      });
    },
    error: function(error_data){
      console.log(error_data)
    }
  })
</script>
<script>
    const $locationMapping = $("#location-mapping");
    $(document).ready(function(){
        $.ajax({url: $lineChart.data("url"), 
        success: function(data) {

        places = [];

        places.push(["Home", 23.6978, 120.9605]);  

        for (x in data.labels){
            label = data.labels[x]
            latitude = data.latitude[x]
            longitude = data.longitude[x]
            places.push([label, latitude, longitude]);
            }
        
        // Making a map and tiles
        const mymap = L.map('mapid').setView([23.6978, 120.9605], 2);
        const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
        
        var i;
        for (var i = 0; i < places.length; i++) {
            console.log(places[i])
			marker = new L.marker([places[i][1],places[i][2]]).bindPopup(places[i][0]).addTo(mymap);
		}

    }
    })
    });
</script>
{% endblock %}
{% block content %}
<h1 class="uk-background-primary">Chart and Map</h1>
<div id="mapid" style="height: 500px" class="uk-background-primary" data-url="{% url 'location-mapping' %}"></div>
<canvas id="line-chart" data-url="{% url 'line-chart' %}"></canvas>
<hr class="uk-divider-icon">
<!-- This Section is for the Data Table, it should be more or less fine -->
<div id="section2" class="uk-section uk-section-large uk-section-muted" style="padding-top:70px;padding-bottom:70px">
    <h1 class="uk-background-primary">Records</h1>
    <div class="row">
        <div class="table-responsive">
        <table id="monitoring_table" align="center" style="width:100%" class="table table-hover">
            <tr>
            <th class="uk-background-primary">ID:</th>
            {% for object in records %}
                <td  class="uk-background-primary">{{ object.identity }}</td>
            {% endfor %}
            </tr>
            <tr>
            <th>Date:</th>
            {% for object in records %}
                <td>{{ object.timestamp }}</td>
            {% endfor %}
            </tr>
            <th>Body Temperature:</th>
            {% for object in records %}
            {% if object.content.bodyTemperature != None %}
                <td>{{ object.content.bodyTemperature }} {{ object.content.bodyTemperatureUnit }} </td>
            {% else %}
                <td>N/A</td>
            {% endif %}
            {% endfor %}
            </tr>
            <th>Coughing:</th>
            {% for object in records %}
                <td>{{ object.content.condition.coughing }}</td>
            {% endfor %}
            </tr>
            <th>Headache:</th>
            {% for object in records %}
                <td>{{ object.content.condition.headache }}</td>
            {% endfor %}
            </tr>
            <th>Running Nose:</th>
            {% for object in records %}
                <td>{{ object.content.condition.runnyNose }}</td>
            {% endfor %}
            </tr>
             <th>Sore Throat:</th>
            {% for object in records %}
                <td>{{ object.content.condition.soreThroat }}</td>
            {% endfor %}
            </tr>
        </table>
        </div>
    </div>
</div>
<!-- This section needs some revision on the creation of cards, I haven't figured yet how to do nested information
    e.g. each observation has a data, hour, an image hash for retrieval on IPFS, and a location indication propably need to create a nestef for loop or something:
        https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#if -->
<hr class="uk-divider-icon">
<div id="section3" class="uk-section uk-section-large uk-section-muted" style="padding-top:70px;padding-bottom:70px">
    <h1 class="uk-background-primary">Photocards</h1>
    <div class="uk-flex">
        {% for object in records %}
            <div class="uk-card uk-card-hover" style="width:400px">
                <div class="uk-card-header">{{ object.id }}</div>
                {% if object.content.photos.0.byteString != None %}
                    <img class="uk-card-media-top" src="data:image/jpeg;base64,{{ object.content.photos.0.byteString }}" style="width:100%">
                {% else %}
                    <img class="uk-card-media-top" src="../../media/mylog14-03.png" style="width:100%">
                {% endif %}
                <div class="uk-card-body">
                    <p>Date: {{ object.timestamp }}</p> <!-- create formating -->
                    <p>Time: {{ object.timestamp }}</p> <!-- create formating -->
                    <p>Tag: {{ object.content.photos.0.tag }}</p> <!-- create formating -->
                    <p>Location: {{ object.content.locationStamp.latitude }}, {{ object.content.locationStamp.longitude }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
