{% extends "dashboard/base.html" %}
{% block javascript %}
<script>
  var $lineChart = $("#line-chart");
  $.ajax({
    method: "GET",
    url: $lineChart.data("url"),
    success: function(data){
      var ctx = document.getElementById("line-chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: data.labels,
              datasets: [{
                  label: 'Records',
                  data: data.record,
                  borderColor: 'orange',
                  borderWidth: 2,
                  fill: false,
                  lineTension: 0,
              },
              {
                label: 'CRITICAL',
                data: data.threshold,
                borderColor: 'rgba(255, 99, 132, 0.5)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                fill: false,
                lineTension: 0,
          },
          {
                label: 'MAX',
                data: data.dead,
                borderColor: 'rgba(255, 99, 132, 0.5)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                fill: '-1',
                lineTension: 0,
          }]
          },
          options: {
              reponsive: true,
              
          }
      });
    },
    error: function(error_data){
      console.log(error_data)
    }
  })
</script>
<script>
    const $locationMapping = $("#location-mapping");
    $(document).ready(function(){
        $.ajax({url: $lineChart.data("url"), 
        success: function(data) {

        places = [];

        places.push(["Home", 23.6978, 120.9605]);  

        for (x in data.labels){
            label = data.labels[x]
            latitude = data.latitude[x]
            longitude = data.longitude[x]
            places.push([label, latitude, longitude]);
            }
        
        // Making a map and tiles
        const mymap = L.map('mapid').setView([23.6978, 120.9605], 7);
        const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);
        
        var i;
        for (var i = 0; i < places.length; i++) {
            console.log(places[i])
			marker = new L.marker([places[i][1],places[i][2]]).bindPopup(places[i][0]).addTo(mymap);
		}

    }
    })
    });
</script>
{% endblock javascript %}
{% block content %}
<body>
<div class="white-text">
    <ul id="slide-out" class="sidenav sidenav-fixed light-blue accent-3">
        <li>
            <!-- <div class="user-view"> -->
                <div style="height: 20%;">

      <div class="background">
        <img class="responsive-img" src="/media/logo.png" style="width:100%">
      </div>
    </div></li>
        <li><a href="#dashboard"><i class="material-icons">equalizer</i>Dashboard</a></li>
        <li><a href="#photodiary"><i class="material-icons">camera_roll</i>Photodiary</a></li>
        <!-- <li><a href="#calendar"><i class="material-icons">date_range</i>Calendar</a></li> -->
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>
<div style="padding-left:315px">
  <div id="dashboard" class="section scrollspy">
    <div class="row">
        <h4>Dashboard</h4>
        <div class="col s8"><h6>Body Temperature</h6>
            <canvas id="line-chart" data-url="{% url 'line-chart' %}"></canvas>
        </div>
        <div class="col s4">
            <h6>Locations</h6>
            <div id="mapid" style="height: 500px" class="uk-background-primary" data-url="{% url 'location-mapping' %}"></div>
        </div>
        <div class="row">
            <div class="col s16 m16">
            <div class="card">
                <div class="card-content blue-text">
                <span class="card-title">Symptoms</span>
                <div>
                    
                    <table id="monitoring_table" class="responsive-table">
                        <tr>
                        <th></th>
                        {% for object in records %}
                        <td class="demo">{{ object.timestamp }}</td>
                            <!-- <td >{{ object.timestamp }}</td> -->
                        {% endfor %}
                    </tr>
                        <th>Coughing:</th>
                        {% for object in records %}
                            <td>{{ object.content.condition.coughing }}</td>
                        {% endfor %}
                        </tr>
                        <th>Headache:</th>
                        {% for object in records %}
                            <td>{{ object.content.condition.headache }}</td>
                        {% endfor %}
                        </tr>
                        <th>Running Nose:</th>
                        {% for object in records %}
                            <td>{{ object.content.condition.runnyNose }}</td>
                        {% endfor %}
                        </tr>
                        <th>Sore Throat:</th>
                        {% for object in records %}
                            <td>{{ object.content.condition.soreThroat }}</td>
                        {% endfor %}
                        </tr>
                         <th>Other Symptoms:</th>
                        {% for object in records %}
                            <td>{{ object.content.condition.soreThroat }}</td>
                        {% endfor %}
                        </tr>
                        <th>Verified:</th>
                        {% for object in records %}
                            {% if object.verification %}
                                <td><img src="/media/mylog14-verify.png" class="responsive-img" style="width:50%"></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
            </div>
            </div>

        </div>
        
  </div>
  <div class="col s12 m2">
    <div class="card amber">
        <div class="card-content white-text">
        <span class="card-title">Description</span>
        <p>Today I did a lot of things... </p>
        </div>
    </div>
    </div>
  <div class="divider"></div>
  <h4>Photodiary</h4>
  <div id="photodiary" class="section scrollspy">
   {% for object in records %}
    <div class="row">
        <div class="col s12 m4">
            <div class="card blue-text">
            <span class="card-title" ><i class="demo"> {{ object.timestamp }}</i></span>
                <div class="card-image">
                {% if object.content.photos.0.byteString != None %}
                    <img class="responsive-img" src="data:image/jpeg;base64,{{ object.content.photos.0.byteString }}">
                {% else %}
                    <img class="responsive-img" src="/media/logo.png">
                {% endif %}           
                </div>
            <div class="card-content">
            <ul>
                <li><a   href="#dashboard"><i class="material-icons">equalizer</i><i class="demo"> {{ object.timestamp }}</i></a></li>
                <!-- <li><a  href="#dashboard"><i class="material-icons">equalizer</i>{{ object.timestamp }}</a></li> -->
                <li><a href="#dashboard"><i class="material-icons">equalizer</i>{{ object.content.photos.0.tag }}</li>   
                <li><a href="#dashboard"><i class="material-icons">equalizer</i>{{ object.content.locationStamp.latitude }}, {{ object.content.locationStamp.longitude }}</li>
            </ul>
            </div>
            <div class="card-action">
                {% if object.verification %}
                    <img src="/media/mylog14-verify.png" class="responsive-img" style="width:10%">
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
  </div>
  <div class="divider"></div>
  <!-- <div id="calendar" class="section scrollspy">
    <div class="row">
    <h4>Calendar</h4>
    <div class="col s12 m12">
        <div class="card">
            <div class="card-content blue-text">
            <span class="card-title">April</span>
            <div>
                <table>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fry</th>
                    <th>Sat</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                </tr>
                </table>
            </div>   
        </div>
    </div> -->
</div>
</body>

<script type="text/javascript">
    // WORKAROUND: All the timestamp DOMs is with class "demo".
    //             Change all timestamps to datetime format.
    let timestamps = document.getElementsByClassName("demo");
    for (i = 0; i<timestamps.length; i++){
        const timestamp = timestamps[i].innerHTML;
        console.debug("timestamp #" + i, timestamps[i].innerHTML)
        const dateobj = new Date(timestamp * 1000);  // msecs
        console.debug("dateobj", dateobj);
        const year = dateobj.getFullYear();
        const month = ("0" + (dateobj.getMonth() + 1)).slice(-2);  // value: 0-11
        const date = ("0" + dateobj.getDate()).slice(-2);
        const hours = ("0" + dateobj.getHours()).slice(-2);
        const minutes = ("0" + dateobj.getMinutes()).slice(-2);
        const seconds = ("0" + dateobj.getSeconds()).slice(-2);
        const datetime = `${year}-${month}-${date} ${hours}:${minutes}:${seconds}`;
        console.debug(`datetime: ${datetime}`);

        timestamps[i].innerHTML = datetime;
    }
</script>
{% endblock content %}