{% extends "dashboard/base.html" %}
{% block javascript %}
{% endblock %}
{% block content %}
<body>
<div id="hash-table-section" class="uk-table uk-table-middle uk-table-divider">
    <div class="row">
        <div class="table-responsive">
        <table id="hash-table" align="center" style="width:100%" class="table table-hover">
          <tr>
            <th class="uk-width-small">Custodian</th>
            <th class="uk-width-small">Status</th>
            <th class="uk-width-small">Acccesed</th>
          </tr>
            {% for object in records %}
            <tr>
                <td><a class="article-title" href="{% url 'dashboard-details' object.identity %}">{{ object.identity }}</td>
                <td>{{ object.review_status }}</td>
                <td>{{ object.last_accessed }}</td>
            </tr>
            {% endfor %}
          </tr>
        </table>
        </div>
    </div>
</div>
</body>
{% endblock content %}
