{% extends "dashboard/base.html" %}
{% block javascript %}
{% endblock %}
{% block content %}
<div class="navbar-header">
    <a class="navbar-brand" href="#">MyLog14</a>
</div> 
<div id="hash-table-section" class="uk-table uk-table-middle uk-table-divider">
    <div class="row">
        <div class="table-responsive">
        <table id="hash-table" align="center" style="width:100%" class="table table-hover">
          <tr>
            <th class="uk-width-small">Review</th>
            <th class="uk-width-small">Custodian</th>
            <th class="uk-width-small">Status</th>
            <th class="uk-width-small">Acccesed</th>
          </tr>
            {% for object in hashes %}
            <tr>
                <td><a class="article-title"  href="{% url 'dashboard-details' object.userHash %}">{{ object.userHash }}</td>
                <td>{{ object.reviewStatus }}</td>
                <td>{{ object.lastChange }}</td>
            </tr>
            {% endfor %}
          </tr>
        </table>
        </div>
    </div>
</div>
{% endblock content %}
