{% extends "dashboard/base.html" %}
{% block javascript %}
<script>
    $("#hash-table tr").click(function(){
        var url = $(this).children().closest("td").html();
        location.replace("http://127.0.0.1:8000/dashboard/" + url)
    });
  </script>
{% endblock %}
{% block content %}
<div class="navbar-header">
    <a class="navbar-brand" href="#">MyLog14</a>
</div> 
<div id="hash-table-section" class="uk-table uk-table-middle uk-table-divider">
    <div class="row">
        <div class="table-responsive">
        <table id="hash-table" align="center" style="width:100%" class="table table-hover">
          <tr>
            <th class="uk-width-small">Start Review</th>
            <th class="uk-width-small">Custodian Hash</th>
            <th class="uk-width-small">Review Status</th>
            <th class="uk-width-small">Last Acccesed</th>
          </tr>
            {% for object in hashes %}
            <tr href="{% url 'dashboard-details' object.userHash %}">
                <td><button class="uk-button uk-button-default" type="button">Button</button></td>
                <td>{{ object.userHash }}</td>
                <td>{{ object.reviewStatus }}</td>
                <td>{{ object.lastChange }}</td>
            </tr>
            {% endfor %}
          </tr>
        </table>
        </div>
    </div>
</div>
{% endblock content %}
