body {
  background: #dde4e9
  ;
}
th, td{
  border-bottom: 2px solid #ddd;
  text-align: left;
}

#mapid { height: 675px; }

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-light {
  background-color: #dde4e9;
}

.site-header .navbar-nav .nav-link {
  color: #444444;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}